<footer class="site-footer">

  <div class="wrapper">


<!-- disquss -->


<!-- disquss -->

<!-- Google Analitics -->

<!-- Global Site Tag (gtag.js) - Google Analytics -->

<!-- Google Analitics -->


    <h2 class="footer-heading" align="center"><a href="http://jsdev.org">jsdev.org</a></h2>
        <p align="center">Opensource project with codes on <a href="https://bitbucket.org/jsdev-org/oracle-jet.ru">bitbucket</a>.

            <br/>

            <strong>GitHub Blocked my Free Accounts without any Warnings and Notifications</strong><br/>
            <strong>Earlier GitHub Blocked my repos which I typed by myself! And what I think about it?</strong><br/>
            <strong>GitHub F@ck you !!!</strong>
            
            
            <br/><br/>
            
            <strong>It Oracle will block website, we will move content to jet.jsdev.org</strong>

        </p>
    </div>

</footer>
